<?xml version="1.0" encoding="UTF-8"?>
<config>
	<inlinehelp button="show"/>
	<fieldset name="component" label="COM_TRANSLATIONS_OPTIONS">
		<field
			name="source_language"
			type="contentlanguage"
			label="COM_TRANSLATIONS_CONFIG_SOURCE_LANGUAGE_LABEL"
			description="COM_TRANSLATIONS_CONFIG_SOURCE_LANGUAGE_DESC"
			default="en-GB"
		/>
		<field
			name="source_language_warning"
			type="note"
			description="COM_TRANSLATIONS_CONFIG_SOURCE_LANGUAGE_WARNING"
			class="alert alert-warning"
		/>
		<field
			name="auto_publish"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_TRANSLATIONS_CONFIG_AUTO_PUBLISH_LABEL"
			description="COM_TRANSLATIONS_CONFIG_AUTO_PUBLISH_DESC"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="auto_publish_rules"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_TRANSLATIONS_CONFIG_AUTO_PUBLISH_RULES_LABEL"
			description="COM_TRANSLATIONS_CONFIG_AUTO_PUBLISH_RULES_DESC"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			component="com_translations"
			section="component"
			filter="rules"
			validate="rules"
		/>
	</fieldset>
</config>
